{% extends 'crew/crew_base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Forms
{% endblock %}

{% block bootstrap5_content %}
<div class="container w-50 mt-5">
    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}

        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            You will receive emails from this website
        </label>
    <br>
        {% bootstrap_button content='Login' reset='Cancel' layout='horizontal' %}
    </form>
</div>
{% endblock bootstrap5_content %}