{% extends 'crew/crew_base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Crew Cards
{% endblock %}

{% block bootstrap5_content %}
    <h3 class="text-center mt-5">Crew Roster</h3>
    <div class="container ">
        <div class="row row-cols-3 mt-5">



                {% for crew in crewmates %}
                    <div class="col">
                        <div class="card h-100 pb-5">
                            <img src={{ crew.image.url }}>
                            <div class="card-body">
                                <h5 class="card-title">Name: {{ crew.name }}</h5>
                                <div class="col-sm-10">Species: {{ crew.species }}</div>
                                <div class="col-sm-10">Class: {{ crew.crew_class }}</div>
                                <div class="col-sm-10">Motive: {{ crew.motivation }}</div>
                                <div class="col-md-12">Background: {{ crew.background }}</div>
                            </div>
                        </div>
                    </div>


                {% endfor %}

        </div>



    </div>
{% endblock bootstrap5_content %}