<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'django_bootstrap5/bootstrap5.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load django_bootstrap5 %}
    {% load static %}



    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Audiowide:400');
        h5.audio {
            font-family: 'Audiowide', cursive;
        }
    </style>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}


    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>{% block bootstrap5_title %}{% block title %}{% endblock %}{% endblock %}</title>
</head>
<body >

{% block bootstrap5_before_content %}
    <img src="{% static 'banner_five_parsecs.png' %}" class="img-fluid">
    <nav class="navbar navbar-expand-lg navbar-light shadow" id="mainNav">

        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'crew_app:5p_home' %}">Crew Manager</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url "crew_app:crew_list" %}">Crew</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Policy</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Contact</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" href="{% url 'users:profile' user.pk %}">{{ user.get_username }}</button>
                        <ul class="dropdown-menu" aria-label="dropdownMenu2">

                                <li class="nav-item text-black">
                                    <a class="nav-link text-black font-weight-bold" href="{% url 'users:profile' user.pk %}">Profile</a>
                                </li>
                                <li class="nav-item text-black">
                                    <a class="nav-link text-black font-weight-bold" href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a>
                                </li>
                        </ul>
                            {% else %}

                                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" href="{% url 'account_login' %}?next={{ request.path }}">Login</button>
                                <ul class="dropdown-menu" aria-label="dropdownMenu2">
                                    <li>
                                        <a class="nav-link text-black font-weight-bold" href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-black font-weight-bold" href="{% url 'account_signup' %}?next={{ request.path }}">Signup</a>
                                    </li>
                                </ul>

                    {% endif %}
                </div>
        </div>
    </nav>


{% endblock %}

{% block content %}

{% endblock content %}
{% bootstrap_javascript %}
</body>
</html>