{% extends 'crew/crew_base.html' %}

{% block bootstrap5_content %}

<span></span>

    <div class="container-fluid"></div>

    <div class="card-group container-sm mt-5">
        <h4 class="card-header text-center">Development Updates</h4>

        {% for update in updates %}
        <div class="card w-100">

                    <div class="card-body">
                    <h5 class="card-title">{{ update.title }}</h5>
                    <p class="card-text">{{update.content|slice:":100" }}...</p>
                    <a href="{% url 'crew_app:updates_detail' update.slug  %}" class="card-link">Read More &rarr;</a>
                    </div>

        </div>
        {% endfor %}
    </div>
    <div class="container-sm  ">
        <div class="row my-5 bg-light justify-content-center ">

            <h5 class="text-center">Welcome to the Crew Manager</h5>
            <p>This is an app I am developing for <i>Five Parsecs From Home</i> table top game. You can purchase a copy of this game from <a href="https://www.modiphius.net/en-us/products/five-parsecs-from-home">Modiphius</a>,
                publisher of the 3rd edition.
                Five Parsecs From Home was written and designed by <a href="https://www.patreon.com/nordicweasel">Ivan Sorensen</a> </p>
            <p>This is a fan project and is not endorse by the publisher, author, or other interested parties. </p>
            <h6>About Five Parsecs from Home</h6>
            <p>Five Parsecs From Home is a solo adventure wargame where you assemble a ragtag crew of galactic trailblazers and head out to explore the stars, pick up jobs, and every now and then —  engage in some action-packed, sci-fi combat!</p>
            <h6>About Modiphius</h6>
            <p>Modiphius is the brainchild of gaming entrepreneur Chris Birch who founded the business in 2012 with his wife Rita before launching the successful Achtung! Cthulhu gaming universe via Kickstarter in early 2013.</p>




        </div>
    </div>
{% endblock bootstrap5_content %}