{% extends 'crew/../base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Crew - Protective Equipment
{% endblock %}

{% block bootstrap5_content %}

    <div class="container-sm  ">
        <div class="row my-5 bg-light justify-content-center ">

            <h5 class="text-center">{{ title }}</h5>

                    {% for item in gear_list %}
                        <div class="col-sm-2 my-2">{{ item.name }}</div>
                        <div class="col-sm-1 my-2">{{ item.get_category_display }}</div>
                        <div class="col-md-5 my-2">{{ item.description }}</div>
                        <div class="col-sm-4"><a href="{% url 'update_gear' item.pk %}">Update</a> </div>
                        <hr>
                    {% endfor %}


        </div>
    </div>
{% endblock bootstrap5_content %}