<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'django_bootstrap5/bootstrap5.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load django_bootstrap5 %}



    {# Load CSS and JavaScript #}
    {% bootstrap_css %}


    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>{% block bootstrap5_title %}{% block title %}{% endblock %}{% endblock %}</title>
</head>
<body >

{% block bootstrap5_before_content %}

{% endblock %}

{% block content %}

{% endblock content %}
{% bootstrap_javascript %}
</body>
</html>



