{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">The Emporium</h5>
    <div class="card-body">
        <p class="card-text"> Welcome to the Professor Nobody's Emporium! We offer a variety of products and inventions that are sure to please any adventurer. We have a wide selection of items that are sure to appeal to any taste collected from around the universe, and we are always adding new items to our inventory. We hope you find everything you are looking for, and thank you for shopping with us!</p>
    </div>
</div>
</div>

{% endblock sidebar %}